<div class="album_details">
  <% if @album.found == false %>
    <%= unfound_details %>
  <% else %>
    <%= found_details %>
  <% end %>
<div id="days">
  <% if @album.found == false %>
    <%= unfound_hints %>
  <% else %>
    <%= found_place %>
  <% end %>
</div>
