<div class="read"><h1>Where the music is free,<br> if you know where to look</h1>
	<p>Unfound Sounds was created as the first of a handful of projects at <a href="http://omahacodeschool.com">Omaha Code School</a>, a 12-week intensive web development program.</p>
	<p>This site creates treasure hunts for good music on vinyl. We hide records in Omaha businesses, then post an album review and a description of the hiding place. If you know which business we're detailing, go there and ask for the next step: a series of hints pointing to the record's exact location.</p>
	<p><strong>Find it first, and it's yours.</strong></p>
	<p>If you'd like to help write album reviews or have an idea for a great, Omaha-based hiding place, please email developer Michael Todd: <a href="mailto:hello@michaelsedits.com" target="_blank">hello@michaelsedits.com</a></p>
	<p>When folks find records, we'll post photos of their happiness here. In the meantime, enjoy this video of DMX seeing Google for the first time:</p></div>
	<p><iframe width="853" height="480" src="//www.youtube.com/embed/oPYbDdxBTwo" frameborder="0" allowfullscreen></iframe></p>