<div class="read"><h1>A treasure hunt for music</h1>
	<p>Unfound Sounds was created as the first of a handful of projects at <a href="http://omahacodeschool.com">Omaha Code School</a>, a 12-week intensive web development program.</p>
	<p>This site creates treasure hunts for good music on vinyl. We hide records in Omaha businesses, then post an album review and hints of the hiding place. If you know which business we're detailing, go there and ask for the next step: the final clue pointing to the record's exact location.</p>
	<p><strong>Find it first, and it's yours.</strong></p>
	<p>If you'd like to help or have an idea for a great, Omaha-based hiding place, please email developer Michael Todd: <a href="mailto:hello@michaelsedits.com" target="_blank">hello@michaelsedits.com</a></p>
</div>

<div id="sidebar_image"><img src="https://s3.amazonaws.com/UnfoundSounds/images/9254294512_341fc9a33b_b.jpg"></div>
