<div class="read"><h1>You must be real generous</h1>
	<p>You clicked the "donate" button. If anyone's keeping track, that just earned you 20 points of good karma. But you know what it takes to triple, quadruple, and dare I say, quintuple your points?
	<p><strong>How about a hearty, oh-my-gosh-you're-nice donation of great vinyl.</strong></p>
	<p>Unfound Sounds accepts all kinds of music to hide in the nooks and crannies of Omaha, Lincoln and Sioux Falls businesses. If you're a band that wants your record to be someone's treasure, if you're a collector with a surplus — or for any reason really — please email developer Michael Todd: <a href="mailto:hello@michaelsedits.com" target="_blank">hello@michaelsedits.com</a></p>
	<p><strong>Or donate money to a good cause: Hear Nebraska.</strong></p>
	<p>If you have non-musical goods to donate (money, that is), we suggest you give to <a href="http://hearnebraska.org">Hear Nebraska</a>, a nonprofit music organization that hopes to establish Nebraska as an internationally known cultural destination.</p>
	<p><strong><a href="http://www.hearnebraska.org/donate">Donate to Hear Nebraska here.</a></strong>
</div>

<div id="sidebar_image"><img src="https://s3.amazonaws.com/UnfoundSounds/images/Screen+Shot+2014-04-08+at+7.46.33+PM.png"></div>
