<% if @albums != [] %>
  <% @albums.each do |album| %>
  	<div id="home_album"><a href="/album/<%= album.url %>"><div id="banner"><%= album.place_title %></div>
  	<img class="homepage" src="<%= album.album_cover %>"></a></div>
  <% end %>

  <% unless @unfound == [] %>
    <a href="/"><div id="found_banner">SEE UNFOUND SOUNDS</div></a>
  <% end %>
  
<% else %>
  <h1>No albums have been found yet.</h1>
  <p>I guess that means you'll have to start looking, huh?</p>
  <a href="/"><div id="found_banner">SEE UNFOUND SOUNDS</div></a>
<% end %>
