<div id="albums">
<% @albums.each do |album| %>
	<div id="home_album" class="album"><a href="/album/<%= album.url %>"><img class="vinyl" src="https://s3.amazonaws.com/UnfoundSounds/images/vinyl-turquoise-350.png">
	<img class="homepage" src="<%= album.album_cover %>">
  </a></div>
<% end %>
<a href="#"><div id="week"><h4>WEEK 1: APRIL 7-13</h4></div></a>