<% @albums.each do |album| %>
	<div id="home_album"><a href="/album/<%= album.url %>"><div id="banner"><br><br><br><em><%= album.place_title %></em></div>
	<img class="homepage" src="<%= album.album_cover %>"></a></div>
<% end %>
<div id="week"><h4>WEEK 1: APRIL 7-13</h4></div>