<div id="r_overlay"><div id="x">&times;</div><h2>BECOME A MEMBER</h2>
<p>Members log in and get to see an early, extra hint every Sunday before a hunt.</p>
<p>So how do you become a member?</p>
<p>1. Visit a participating business. 
<br/>2. Take a photo. 
<br/>3. Post the photo on Facebook, Twitter or Instagram and tag it with #unfoundsounds.</p>
<p>Easy as that. We'll send you credentials to log in once we see your photo.
</div>