<div id="r_overlay"><div id="x">&times;</div><h2>BECOME A MEMBER</h2>
<p>Members log in and get to see an early, extra hint every Sunday before a hunt.</p>
<p>So how do you become a member?</p>
<p>Go to the places where albums have been found, and ask an employee for a member card.</p>
</div>