/* Desktop */

@media all and (min-width: 768px) {

  #admin_title {
  	font-family: "bebas-neue";
  	font-size: 20px;
  	color: #3C3C3C;
  }

  #edit_submit {
    margin-left: 0px;
  }

  #edit_link {
    color: #fff;
    background-color: #813510;
    padding: 8px;
    position: absolute;
    font-family: "proxima-nova";
    border-radius: 5px;
    width: 85px;
    text-align: center;
  }

  #home_edit_link {
    color: #fff;
    background-color: #813510;
    padding: 8px;
    font-family: "proxima-nova";
    border-radius: 5px;
    width: 85px;
    text-align: center;
    float: left;
  }

  #home_delete_link {
    color: #fff;
    background-color: #813510;
    padding: 8px;
    font-family: "proxima-nova";
    border-radius: 5px;
    width: 85px;
    text-align: center;
    float: left;
    margin-left: 20px;
  }

  #admin_buttons {
    margin-left: auto;
    margin-right: auto;
    width: 222px;
    margin-top: 5px;
  }

}

/* Mobile */

@media all and (max-width: 767px) {
  
}