/* Desktop */

@media only screen and (min-width: 768px) {

  div.read {
  	width: 610px;
    padding-top: 59px;
    float: left;
  }

  #sidebar_image {
    float: left;
    margin-left: 40px;
    margin-top: 66px;
  }

}

/* Mobile */

@media only screen and (max-width: 767px) {
  
}