@media all and (min-width: 768px) {

  /* Text */

  #crossed_out {
    color: #813510;
    text-decoration: line-through;
  }

  /* Elements */

  #place {
  	float: right;
  	display: inline-block;
  	width: 475px;
  }

}

/* Mobile design */

@media all and (max-width: 767px) {
  
}