p a:link {
	color: #A0A0A0;
}

p a:visited {
	color: #A0A0A0;
}

p a:hover {
	color: #813510;
}

img.main_nav {
	display: inline-block;
	margin-right: 15px;
}

div.read {
	width: 610px;
}

h1 {
	font-family: "bebas-neue";
	font-size: 50px;
	color: #A0A0A0;
	display: block;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

h2 a:visited {
	font-family: "bebas-neue";
	font-size: 50px;
	background-color: #3C3C3C;
	color: #F0F0F0;
	width: 90px;
	text-align: center;
}

h3 {
	font-family: "bebas-neue";
	font-size: 40px;
	color: #813510;
}

h3 {
	font-family: "bebas-neue";
	font-size: 40px;
	color: #813510;
}

h3 a:link {
	font-family: "bebas-neue";
	font-size: 40px;
	color: #813510;
}

h4 {
	font-family: "adobe-caslon-pro";
	font-size: 20px;
	color: #813510;
}

h4 a:link {
	font-family: "adobe-caslon-pro";
	font-size: 20px;
	color: #813510;
	text-align: center;
}

h4 a:hover {
	opacity: 0.5;
}

h4 a:visited {
	font-family: "adobe-caslon-pro";
	font-size: 20px;
	color: #813510;
	text-align: center;
}

#desc {
	font-family: "bebas-neue";
	font-size: 30px;
	color: #A0A0A0;
}

form {
	font-family: "proxima-nova";
}

#credit {
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 10px;
	font-family: "proxima-nova";
	position: relative;
	bottom: 13px;
}

#credit a:link {
	color: #F0F0F0;
}

#credit a:visited {
	color: #F0F0F0;
}

#credit a:hover {
	opacity: 0.9;
}

#date {
	color: #A0A0A0;
	text-align: left;
	font-size: 20px;
	font-family: "proxima-nova";
}

#date_red {
	color: #813510;
	text-align: left;
	font-size: 20px;
	font-family: "proxima-nova";
}

#album {
	width: 475px;
	float: left;
	display: inline-block;
}

#home_album {
  display: inline-block;
  position: relative;
  top: -46px;
  margin-left: 2px;
}

#home_album:hover div.banner {
	background-color: #813510;
}

#place {
	float: right;
	display: inline-block;
	width: 475px;
}

a:link {
	text-decoration: none;
	color: #F0F0F0;
}

a:visited {
	text-decoration: none;	
	color: #F0F0F0
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;	
}

img.homepage {
	width: 345px;
}

img.ocs {
	display: inline-block;
	padding-left: 20px;
	padding-top: 10px;
}

img.ocs:hover {
	opacity: 0.9;
}

#nav {
	font-family: "adobe-caslon-pro";
	font-size: 40px;
	color: #F0F0F0;
	display: inline-block;
	font-weight: 100;
	margin-left: 10px;
}

#nav a:link {
	color: #3C3C3C;
}

#nav a:visited {
	color: #3C3C3C;
}

#nav a:hover {
	color: #813510;
}

header {
	height: 105px;
}

#blog_title {
	font-family: "bebas-neue";
	font-size: 100px;
	font-weight: 100;
	display: inline-block;
	padding-right: 10px;
}

#blog_title a:link {
	color: #813510;
}

#blog_title a:visited {
	color: #813510;
}

#blog_title_gray {
	font-family: "bebas-neue";
	font-size: 130px;
	font-weight: 100;
	display: inline-block;
}

#blog_title_gray a:link {
	color: #A0A0A0;
}

#blog_title_gray a:visited {
	color: #A0A0A0;
}

#blog_title_gray a:hover {
	opacity: 0.9;
}

footer {
  clear: both;
  background-color: #3C3C3C;
  color: #F0F0F0;
  font-family: "proxima-nova";
  bottom: 0;
  position: relative;
  height: 60px;
}

footer a:link {
	color: #F0F0F0;
}

#found {
	clear: both;
}

footer a:visited {
	color: #F0F0F0;
}

p {
	font-family: "proxima-nova";
}

#title {
	font-family: "bebas-neue";
	font-size: 40px;
	color: #3C3C3C;
}

#admin_title {
	font-family: "bebas-neue";
	font-size: 20px;
	color: #3C3C3C;
}

#banner {
  font-family: "adobe-caslon-pro";
  font-size: 22px;
  padding: 5px;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/UnfoundSounds/images/vinyl-turquoise-350.png");
  color: #F0F0F0;
  background-position-x: -10px;
  background-position-y: -25px;
  font-weight: 100;
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  position: relative;
  top: 100px;
  height: 165px;
  transition: .65s;
}

#home_album:hover #banner {
  top: 20px;
  transition: .65s;
}

#city_banner {
	font-family: "bebas-neue";
	font-size: 30px;
	text-align: center;
	background-color: #813510;
	width: 500px;
	margin: 15px auto 15px;
	color: #F0F0F0;
	font-weight: 100;
	clear: both;
}

#week {
  position: absolute;
  bottom: 0;
  top: 91%;
  margin-bottom: 0px;
  width: 100%;
}

#week h4 {
  font-family: "clavo";
  text-align: center;
  font-size: 19px;
  color: #444444;
  padding: 8px 0px 16px 0px;
  border-radius: 15px;
  text-shadow: 5px 5px 8px rgba(0,0,0,0.2);
  height: 10px;
  position: relative;
  bottom: 3px;
}

body {
  margin-top: 30px;
}

#city_banner:hover {
	opacity: 0.9;
}

#found_banner {
  font-family: "proxima-nova";
  font-size: 20px;
  text-align: center;
  background-color: #813510;
  margin: 15px auto 15px;
  color: #F0F0F0;
  font-weight: 100;
  clear: both;
  position: relative;
  top: -70px;
  width: 337px;
  border-radius: 5px;
}

#found_banner:hover {
	background-color: #813510;
}

#content {
	width: 1050px;
	position: relative;
	margin: auto;
}

div.more {
	width: 1050px;
	position: relative;
	margin: auto;
	display: inline-block;
}

h3 {
	font-weight: 100;
}