/* Desktop */

@media all and (min-width: 768px) {

/* Text */

  #week h4, #week_html h4 {
    font-family: "clavo";
    text-align: center;
    font-size: 19px;
    color: #444444;
    padding: 5px 0px 0px 0px;
    border-radius: 15px;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    height: 10px;
  }

  #week a h4:hover, #week_html a h4:hover {
  	color: #813510;
  }

  /* Elements */

  #next {
    position: absolute;
    right: -70px;
    bottom: 225px;
    opacity: 0.9;
  }

  #previous {
    position: absolute;
    left: -70px;
    bottom: 225px;
    opacity: 0.9;
  }

  #week, #week_html {
    margin-left: auto;
    margin-right: auto;
  }

  #week {
    margin-top: 40px;
  }

  #week_html {
    position: relative;
    bottom: 25px;
  }

}

/* Mobile */

@media all and (max-width: 767px) {

  #week h4, #week_html h4 {
    font-family: "clavo";
    text-align: center;
    font-size: 16px;
    color: #444444;
    padding: 5px 0px 0px 0px;
    border-radius: 15px;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    height: 10px;
  }

  #next {
    position: absolute;
    right: -70px;
    bottom: 225px;
    opacity: 0.9;
  }

  #previous {
    position: absolute;
    left: -70px;
    bottom: 225px;
    opacity: 0.9;
  }

}