/* Desktop */

@media all and (min-width: 1201px) {

/* Text */

  #week h4, #week_html h4 {
    font-family: "clavo";
    text-align: center;
    font-size: 19px;
    color: #444444;
    padding: 5px 0px 0px 0px;
    border-radius: 15px;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    height: 10px;
  }

  #week a h4:hover, #week_html a h4:hover {
  	color: #813510;
  }

  /* Elements */
  
  #all_week {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

  #next, #next_album {
    position: absolute;
    right: -70px;
    bottom: 225px;
  }

  #previous, #previous_album {
    position: absolute;
    left: -70px;
    bottom: 225px;
  }

  #week, #week_html {
    margin-left: auto;
    margin-right: auto;
  }

  #week {
    margin-top: 40px;
  }

  #week_html {
    position: relative;
    bottom: 25px;
  }
  
  #previous_white {
    display: none;
  }
  
  #next_white {
    display: none;
  }

}

/* Next & Previous Hop Down to Week Title */

@media all and (min-width: 768px) and (max-width: 1200px) {
  
  #week h4, #week_html h4 {
    font-family: "clavo";
    text-align: center;
    font-size: 19px;
    color: #444444;
    padding: 5px 0px 0px 0px;
    border-radius: 15px;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    height: 10px;
  }

  #week a h4:hover, #week_html a h4:hover {
  	color: #813510;
  }

  #next {
    position: absolute;
    right: 363px;
    bottom: -12px;
    opacity: 0.9;
  }

  #previous {
    position: absolute;
    left: 348px;
    bottom: -12px;
    opacity: 0.9;
  }
  
  #week, #week_html {
    margin-left: auto;
    margin-right: auto;
  }

  #week {
    margin-top: 40px;
  }

  #week_html {
    position: relative;
    bottom: 25px;
  }

}

/* Mobile */

@media all and (max-width: 767px) {
  
  #note {
    display: none;
  }
  
  #all_week {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }

  #week_html h4 {
    font-family: "clavo";
    text-align: right;
    font-size: 5vw;
    color: #444444;
    padding: 5px 0px 0px 0px;
    border-radius: 15px;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    height: 10px;
    float: right;
  } 
  
  #week h4 {
    font-family: "clavo";
    text-align: center;
    font-size: 3vw;
    color: #444444;
    padding: 5px 0px 0px 0px;
    border-radius: 15px;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    height: 10px;
  }

  #next {
    display: inline-block;
    opacity: 0.9;
    margin-left: 5%;
    width: 8%;
  }
  
  #next a img {
    width: 100%;
  }
  
  #previous {
    display: inline-block;
    opacity: .9;
    margin-right: 5%;
    width: 8%;
  }
  
  #previous a img {
    width: 100%;
  }
  
  #week_title {
    display: inline-block;
    position: relative;
    bottom: 5px;
    width: 70%;
  }
  
  #week_html {
    width: 30%;
    float: right;
  }

}